<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>Registrarse</h3>
        </div>
        <div class="card-body">
          <form action="/signup" method="POST">
            <div class="form-group">
              <input type="type" name="nombres" placeholder="Ingrese sus nombres" class="form-control" autofocus>
            </div>
            &nbsp;
             <div class="form-group">
              <input type="type" name="apellidos" placeholder="Ingrese sus apellidos" class="form-control" autofocus>
            </div>
            &nbsp;
            <div class="form-group">
              <input type="type" name="documento" placeholder="Ingrese su documento" class="form-control" autofocus>
            </div>
            &nbsp;
            <div class="form-group">			
              <input type="type" name="municipio" placeholder="Ingrese su municipio" class="form-control" autofocus>
            </div>
            &nbsp;
            <div class="form-group">				
              <input type="type" name="direccion" placeholder="Ingrese su dirección" class="form-control" autofocus>
            </div>
            &nbsp;
             <div class="form-group">			
              <input type="type" name="profesion" placeholder="Ingrese su profesión" class="form-control" autofocus>
            </div>
            &nbsp;
            <div class="form-group">
              <input type="email" name="username" placeholder="Username" class="form-control">
            </div>
            &nbsp;
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            &nbsp;
            <div class="form-group">
              <button class="btn btn-success btn-block">
                Registrarse
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>